services:
  - type: web
    name: virtual-coach-frontend
    env: static
    root: frontend
    buildCommand: npm install && npm run build
    staticPublishPath: ./dist
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
